module "client_${client}" {
  source = "../../../modules/openid-client"

  realm_id            = data.keycloak_realm.this.id
  client_name         = "${client}"
  valid_redirect_uris = ["*"]
  ${extra_attr}
}
