name: Request

on:
  workflow_dispatch:
    inputs:
      requestId:
        description: "Request ID"
        required: true
      clientName:
        description: "Client Name"
        required: true
      realmName:
        description: "Realm Name"
        required: true
      publicAccess:
        description: "Public Access"
        required: true
      validRedirectUris:
        description: "Valid Redirect Uris"
        required: true
      environments:
        description: "Environments"
        required: true

jobs:
  request-client:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      # NPM PACKAGES
      - uses: actions/cache@v2
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Install Yarn dependencies in root
        run: yarn

      # ASDF TOOLS
      - name: Install asdf
        uses: asdf-vm/actions/setup@v1
      - name: Cache tools
        uses: actions/cache@v2
        with:
          path: |
            /home/runner/.asdf
          key: ${{ runner.os }}-${{ hashFiles('**/.tool-versions') }}
      - name: Install required tools
        run: |
          cat .tool-versions | cut -f 1 -d ' ' | xargs -n 1 asdf plugin-add || true
          asdf plugin-update --all
          asdf install
          asdf reshim
      - name: Install python tools
        run: |
          pip install -r requirements.txt
          asdf reshim

      - uses: bcgov/sso-requests-actions/request@v0.2.0
        with:
          github-token: ${{ secrets.GH_ACCESS_TOKEN || secrets.GITHUB_TOKEN }}
          api-url: "https://kgodz1zmk2.execute-api.ca-central-1.amazonaws.com/test/actions?status=create"
          auth-secret: ${{ secrets.GH_SECRET }}
