name: Terraform Plan

on: workflow_dispatch

env:
  TF_VERSION: 0.15.3
  KEYCLOAK_DEV_URL: https://dev.oidc.gov.bc.ca
  KEYCLOAK_TEST_URL: https://test.oidc.gov.bc.ca
  KEYCLOAK_PROD_URL: https://oidc.gov.bc.ca

jobs:
  terraform:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    steps:
    - uses: hmarr/debug-action@v2
    - uses: actions/checkout@v2

    - name: Setup Terraform
      uses: bcgov/sso-requests-actions/actions/setup-terraform@v0.55.0
      with:
        context: ./terraform
        tf-version: ${{ env.TF_VERSION }}
        tf-s3-bucket: xgr00q-prod-keycloak
        tf-s3-bucket-key: keycloak/silver
        tf-s3-dynamodb-table: xgr00q-prod-state-locking
        tf-s3-access-key: ${{ secrets.TF_S3_ACCESS_KEY }}
        tf-s3-secret-key: ${{ secrets.TF_S3_SECRET_KEY }}
        tf-s3-role-arn: ${{ secrets.TF_S3_ROLE_ARN }}
        kc-dev-url: ${{ env.KEYCLOAK_DEV_URL }}
        kc-provider-version: 3.10.0
        kc-test-url: ${{ env.KEYCLOAK_TEST_URL }}
        kc-prod-url: ${{ env.KEYCLOAK_PROD_URL }}
        kc-dev-secret: ${{ secrets.KEYCLOAK_DEV_CLIENT_SECRET }}
        kc-test-secret: ${{ secrets.KEYCLOAK_TEST_CLIENT_SECRET }}
        kc-prod-secret: ${{ secrets.KEYCLOAK_PROD_CLIENT_SECRET }}
        plan: true
