name: Terraform V2 Plan

on: workflow_dispatch

env:
  TF_VERSION: 1.11.0

jobs:
  terraform:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    permissions:
      contents: read
      id-token: write
    steps:
    - uses: hmarr/debug-action@v2
    - name: Fail if not main or dev
      if: github.ref != 'refs/heads/main' && github.ref != 'refs/heads/dev'
      run: |
        echo "This workflow only runs on main or dev branches."
        exit 1

    - name: Set common variables
      run: |
        echo "DEV_AZUREIDIR_TENANT_ID=${{ secrets.DEV_AZUREIDIR_TENANT_ID }}" >> $GITHUB_ENV
        echo "TEST_AZUREIDIR_TENANT_ID=${{ secrets.TEST_AZUREIDIR_TENANT_ID }}" >> $GITHUB_ENV
        echo "PROD_AZUREIDIR_TENANT_ID=${{ secrets.PROD_AZUREIDIR_TENANT_ID }}" >> $GITHUB_ENV

    - name: Set dev environment to SANDBOX
      if: github.ref == 'refs/heads/dev'
      run: |
        echo "KEYCLOAK_V2_DEV_URL=https://dev.sandbox.loginproxy.gov.bc.ca" >> $GITHUB_ENV
        echo "KEYCLOAK_V2_TEST_URL=https://test.sandbox.loginproxy.gov.bc.ca" >> $GITHUB_ENV
        echo "KEYCLOAK_V2_PROD_URL=https://sandbox.loginproxy.gov.bc.ca" >> $GITHUB_ENV
        echo "PROJECT_SUFFIX=_SANDBOX" >> $GITHUB_ENV
        echo "SITEMINDER_PROJECT=TEST" >> $GITHUB_ENV
        echo "TF_S3_BUCKET=b46814-dev-keycloak" >> $GITHUB_ENV
        echo "TF_VAR_test_siteminder_single_sign_on_service_url=https://sfstest7.gov.bc.ca/affwebservices/public/saml2sso" >> $GITHUB_ENV
        echo "TF_VAR_prod_siteminder_single_sign_on_service_url=https://sfstest7.gov.bc.ca/affwebservices/public/saml2sso" >> $GITHUB_ENV
        echo "TF_VAR_github_org=bcgov-sso" >> $GITHUB_ENV
        echo "TF_VAR_prod_digital_credential_url=https://vc-authn-oidc-test.apps.silver.devops.gov.bc.ca" >> $GITHUB_ENV
        echo "TF_VAR_dev_saml_entity_id_url=https://dev.sandbox.loginproxy.gov.bc.ca/auth/realms/"  >> $GITHUB_ENV
        echo "TF_VAR_test_saml_entity_id_url=https://test.sandbox.loginproxy.gov.bc.ca/auth/realms/"  >> $GITHUB_ENV
        echo "TF_VAR_prod_saml_entity_id_url=https://sandbox.loginproxy.gov.bc.ca/auth/realms/"  >> $GITHUB_ENV
        echo "TF_VAR_prod_saml_idir_override=_idir1/" >> $GITHUB_ENV
        echo "TF_VAR_prod_saml_bceidbusiness_override=_bceidbusiness1/" >> $GITHUB_ENV
        echo "TF_VAR_prod_saml_bceidbasicbusiness_override=_bceidbasicbusiness1/" >> $GITHUB_ENV
        echo "TF_VAR_prod_saml_bceidbasic_override=_bceidbasic1/" >> $GITHUB_ENV
        echo "TF_VAR_dev_otp_provider_url=https://dev.sandbox.otp.loginproxy.gov.bc.ca" >> $GITHUB_ENV
        echo "TF_VAR_test_otp_provider_url=https://test.sandbox.otp.loginproxy.gov.bc.ca" >> $GITHUB_ENV
        echo "TF_VAR_prod_otp_provider_url=https://sandbox.otp.loginproxy.gov.bc.ca" >> $GITHUB_ENV

        # PROJECT_SUFFIX left null for production config
    - name: Set main environment to PRODUCTION
      if: github.ref == 'refs/heads/main'
      run: |
        echo "KEYCLOAK_V2_DEV_URL=https://dev.loginproxy.gov.bc.ca" >> $GITHUB_ENV
        echo "KEYCLOAK_V2_TEST_URL=https://test.loginproxy.gov.bc.ca" >> $GITHUB_ENV
        echo "KEYCLOAK_V2_PROD_URL=https://loginproxy.gov.bc.ca" >> $GITHUB_ENV
        echo "SITEMINDER_PROJECT=PROD" >> $GITHUB_ENV
        echo "TF_S3_BUCKET=b46814-prod-keycloak" >> $GITHUB_ENV
        echo "TF_VAR_dev_otp_provider_url=https://dev.otp.loginproxy.gov.bc.ca" >> $GITHUB_ENV
        echo "TF_VAR_test_otp_provider_url=https://test.otp.loginproxy.gov.bc.ca" >> $GITHUB_ENV
        echo "TF_VAR_prod_otp_provider_url=https://otp.loginproxy.gov.bc.ca" >> $GITHUB_ENV

    - uses: actions/checkout@v2

    - name: Setup Terraform
      uses: ./.github/actions/setup-terraform
      with:
        context: ./terraform-v2
        tf-version: ${{ env.TF_VERSION }}
        tf-s3-bucket: ${{ env.TF_S3_BUCKET }}
        tf-s3-bucket-key: keycloak/gold   #Same in prod and sandbox
        tf-aws-deploy-role-arn: ${{ secrets[format('SSO_AWS_GH_ACTIONS_DEPLOYER{0}', env.PROJECT_SUFFIX)] }}
        kc-provider-version: 5.4.0
        kc-dev-url: ${{ env.KEYCLOAK_V2_DEV_URL }}
        kc-test-url: ${{ env.KEYCLOAK_V2_TEST_URL }}
        kc-prod-url: ${{ env.KEYCLOAK_V2_PROD_URL }}
        kc-dev-username: ${{ secrets[format('KEYCLOAK_V2_DEV_USERNAME{0}', env.PROJECT_SUFFIX)] }}
        kc-test-username: ${{ secrets[format('KEYCLOAK_V2_TEST_USERNAME{0}', env.PROJECT_SUFFIX)] }}
        kc-prod-username: ${{ secrets[format('KEYCLOAK_V2_PROD_USERNAME{0}', env.PROJECT_SUFFIX)] }}
        kc-dev-password: ${{ secrets[format('KEYCLOAK_V2_DEV_PASSWORD{0}', env.PROJECT_SUFFIX)] }}
        kc-test-password: ${{ secrets[format('KEYCLOAK_V2_TEST_PASSWORD{0}', env.PROJECT_SUFFIX)] }}
        kc-prod-password: ${{ secrets[format('KEYCLOAK_V2_PROD_PASSWORD{0}', env.PROJECT_SUFFIX)] }}
        test-siteminder-signing-certificate: ${{ secrets.TEST_SITEMINDER_SIGNING_CERTIFICATE }}   #same for production and sandbox
        prod-siteminder-signing-certificate: ${{ secrets[format('{0}_SITEMINDER_SIGNING_CERTIFICATE', env.SITEMINDER_PROJECT)] }}   #prod for Production, test for sandbox
        dev-azureidir-tenant-id: ${{ env.DEV_AZUREIDIR_TENANT_ID }}
        dev-azureidir-client-id: ${{ secrets[format('DEV_AZUREIDIR_CLIENT_ID{0}', env.PROJECT_SUFFIX)] }}
        dev-azureidir-client-secret: ${{ secrets[format('DEV_AZUREIDIR_CLIENT_SECRET{0}', env.PROJECT_SUFFIX)] }}
        test-azureidir-tenant-id: ${{ env.TEST_AZUREIDIR_TENANT_ID }}
        test-azureidir-client-id: ${{ secrets[format('TEST_AZUREIDIR_CLIENT_ID{0}', env.PROJECT_SUFFIX)] }}
        test-azureidir-client-secret: ${{ secrets[format('TEST_AZUREIDIR_CLIENT_SECRET{0}', env.PROJECT_SUFFIX)] }}
        prod-azureidir-tenant-id: ${{ env.PROD_AZUREIDIR_TENANT_ID }}
        prod-azureidir-client-id: ${{ secrets[format('PROD_AZUREIDIR_CLIENT_ID{0}', env.PROJECT_SUFFIX)] }}
        prod-azureidir-client-secret: ${{ secrets[format('PROD_AZUREIDIR_CLIENT_SECRET{0}', env.PROJECT_SUFFIX)] }}
        dev-github-client-id: ${{ secrets[format('DEV_GITHUB_CLIENT_ID{0}', env.PROJECT_SUFFIX)] }}
        dev-github-client-secret: ${{ secrets[format('DEV_GITHUB_CLIENT_SECRET{0}', env.PROJECT_SUFFIX)] }}
        dev-digitalcredential-client-id: ${{ secrets[format('DEV_DIGITALCREDENTIAL_CLIENT_ID{0}', env.PROJECT_SUFFIX)] }}
        dev-digitalcredential-client-secret: ${{ secrets[format('DEV_DIGITALCREDENTIAL_CLIENT_SECRET{0}', env.PROJECT_SUFFIX)] }}
        test-github-client-id: ${{ secrets[format('TEST_GITHUB_CLIENT_ID{0}', env.PROJECT_SUFFIX)] }}
        test-github-client-secret: ${{ secrets[format('TEST_GITHUB_CLIENT_SECRET{0}', env.PROJECT_SUFFIX)] }}
        test-digitalcredential-client-id: ${{ secrets[format('TEST_DIGITALCREDENTIAL_CLIENT_ID{0}', env.PROJECT_SUFFIX)] }}
        test-digitalcredential-client-secret: ${{ secrets[format('TEST_DIGITALCREDENTIAL_CLIENT_SECRET{0}', env.PROJECT_SUFFIX)] }}
        prod-github-client-id: ${{ secrets[format('PROD_GITHUB_CLIENT_ID{0}', env.PROJECT_SUFFIX)] }}
        prod-github-client-secret: ${{ secrets[format('PROD_GITHUB_CLIENT_SECRET{0}', env.PROJECT_SUFFIX)] }}
        prod-digitalcredential-client-id: ${{ secrets[format('PROD_DIGITALCREDENTIAL_CLIENT_ID{0}', env.PROJECT_SUFFIX)] }}
        prod-digitalcredential-client-secret: ${{ secrets[format('PROD_DIGITALCREDENTIAL_CLIENT_SECRET{0}', env.PROJECT_SUFFIX)] }}
        dev-otp-client-id: ${{ secrets[format('DEV_OTP_CLIENT_ID{0}', env.PROJECT_SUFFIX)] }}
        dev-otp-client-secret: ${{ secrets[format('DEV_OTP_CLIENT_SECRET{0}', env.PROJECT_SUFFIX)] }}
        test-otp-client-id: ${{ secrets[format('TEST_OTP_CLIENT_ID{0}', env.PROJECT_SUFFIX)] }}
        test-otp-client-secret: ${{ secrets[format('TEST_OTP_CLIENT_SECRET{0}', env.PROJECT_SUFFIX)] }}
        prod-otp-client-id: ${{ secrets[format('PROD_OTP_CLIENT_ID{0}', env.PROJECT_SUFFIX)] }}
        prod-otp-client-secret: ${{ secrets[format('PROD_OTP_CLIENT_SECRET{0}', env.PROJECT_SUFFIX)] }}
        plan: true
        tf-modules-cache-key: ${{ steps.tf-modules.outputs.latest-sha }}
