name: "Terraform Apply"

on:
  push:
    branches:
      - main
    paths:
      - "terraform/**"
      - ".github/**"

env:
  TF_VERSION: 0.15.3

jobs:
  terraform:
    runs-on: ubuntu-18.04
    env:
      API_URL: "https://kgodz1zmk2.execute-api.ca-central-1.amazonaws.com/test/actions/"
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Wake Up API
        uses: fjogeleit/http-request-action@master
        with:
          url: "${{env.API_URL}}"
          method: "GET"
          customHeaders: '{"Authorization": "${{secrets.GH_SECRET}}"}'
        continue-on-error: true

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: ${{ env.TF_VERSION }}
          cli_config_credentials_token: ${{ secrets.TFC_TEAM_TOKEN }}

      - name: Terraform Format
        id: fmt
        run: terraform fmt -check
        working-directory: ./terraform

      - name: Terraform Variables
        run: |
          cat >"versions.tf" <<EOF
          terraform {
            backend "remote" {
              hostname     = "app.terraform.io"
              organization = "bcgov"
              workspaces {
                name = "${{ secrets.TFC_WORKSPACE }}"
              }
            }
          }
          EOF

          cat >"ci.auto.tfvars" <<EOF
          dev_keycloak_url="${{ secrets.KEYCLOAK_DEV_URL }}"
          test_keycloak_url="${{ secrets.KEYCLOAK_TEST_URL }}"
          prod_keycloak_url="${{ secrets.KEYCLOAK_PROD_URL }}"
          dev_client_secret="${{ secrets.KEYCLOAK_DEV_CLIENT_SECRET }}"
          test_client_secret="${{ secrets.KEYCLOAK_TEST_CLIENT_SECRET }}"
          prod_client_secret="${{ secrets.KEYCLOAK_PROD_CLIENT_SECRET }}"
          EOF
        working-directory: ./terraform

      - name: Terraform Init
        id: init
        run: terraform init
        working-directory: ./terraform

      # NPM PACKAGES
      - uses: actions/cache@v2
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Install Yarn dependencies in root
        run: yarn

      - name: Terraform Apply
        id: apply
        run: terraform apply -auto-approve
        working-directory: ./terraform
        continue-on-error: true

      - name: Get PR Number
        id: prNumber
        run: |
          pr=$(curl -H "Accept: application/vnd.github.groot-preview+json" https://api.github.com/repos/${{github.repository}}/commits/${{github.sha}}/pulls)
          number=$(jq ".[0].number" <<< "$pr")
          fullLabels=$(jq ".[0].labels" <<< "$pr")
          botLabel=$(jq -c '.[] | select(.name | contains("auto_generated")).name' <<< "$fullLabels")
          echo "::set-output name=number::$number"
          echo "::set-output name=botLabel::$botLabel"

      - name: Update Apply Status
        uses: fjogeleit/http-request-action@master
        if: steps.prNumber.outputs.botLabel == '"auto_generated"'
        with:
          url: "${{env.API_URL}}?status=apply"
          method: "PUT"
          data: '{"prNumber": ${{ steps.prNumber.outputs.number }}, "applySuccess": "${{steps.apply.outcome != ''failure''}}"}'
          customHeaders: '{"Authorization": "${{secrets.GH_SECRET}}"}'
          timeout: "60000"

      - name: Fail action if apply failed
        if: steps.prNumber.outputs.botLabel == '"auto_generated"' && steps.apply.outcome == 'failure'
        run: exit 1
